<footer class="footer">
  <div class="footer__first-col">
    <div class="first-col__header">Малярные <br> и кузовные работы</div>
    <address class="first-col__social">
      <a href="https://www.vk.com/piter_trucks" class="footer__social-link">
        <svg class="footer__social">
          <use xlink:href="assets/img/sprite.svg#vk"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com/PiterTrucks" class="footer__social-link">
        <svg class="footer__social">
          <use xlink:href="assets/img/sprite.svg#facebook"></use>
        </svg>
      </a>
      <a href="https://www.twitter.com/piter_trucks" class="footer__social-link">
        <svg class="footer__social">
          <use xlink:href="assets/img/sprite.svg#twitter"></use>
        </svg>
      </a>
      <a href="https://www.instagramm.com/piter_trucks" class="footer__social-link">
        <svg class="footer__social">
          <use xlink:href="assets/img/sprite.svg#instagram"></use>
        </svg>
      </a>
      <a href="tg://resolve?domain=@gothisway" class="footer__social-link">
        <svg class="footer__social">
          <use xlink:href="assets/img/sprite.svg#telegram"></use>
        </svg>
      </a>
      <a href="https://wa.me/79650517804" class="footer__social-link">
        <svg class="footer__social whatsapp-footer">
          <use xlink:href="assets/img/sprite.svg#whatsapp"></use>
        </svg>
      </a>
    </address>
    <div class="first-col__conf"><a download href="/policy.pdf" class="conf-link">Политика конфиденциальности</a></div>
  </div>
  <div class="second-col">
    <div class="second-col__header">О компании</div>
    <ul class="second-col__list">
      <li class="second-col__list-item"><a href="b2b.html" class="second-col__link">Для организаций</a></li>
      <li class="second-col__list-item"><a href="b2b.html#account" class="second-col__link">Реквизиты</a></li>
      <li class="second-col__list-item"><a style="display: none;" href="#" class="second-col__link">Вакансии</a></li>
      <li class="second-col__list-item"><a href="index.html#contacts" class="second-col__link">Контакты</a></li>
    </ul>
  </div>
  <div class="third-col">
    <div class="third-col__header">Услуги</div>
    <ul class="third-col__list">
      <li class="third-col__list-item"><a href="repair.html" class="third-col__link">Пескоструйная обработка</a></li>
      <li class="third-col__list-item"><a href="painting.html" class="third-col__link">Малярные работы</a></li>
      <li class="third-col__list-item"><a href="repair.html" class="third-col__link">Кузовной ремонт</a></li>
      <li class="third-col__list-item"><a href="repair.html" class="third-col__link">Ремонт грузовой техники</a></li>
    </ul>
  </div>
  <div class="last-col">
    <div class="last-col__header">Информация</div>
    <ul class="last-col__list">
      <li class="last-col__list-item"><a href="faq.html" class="last-col__link">Вопрос-ответ</a></li>
      <li class="last-col__list-item"><a style="display: none;" href="#" class="last-col__link">Блог</a></li>
    </ul>
  </div>
</footer>
<div class="copyright-wrapper"><small class="copyright">2010 - 2020 &copy;</small></div>
