<!-- Yandex.Metrika counter -->
<!-- <script>
    (function(m, e, t, r, i, k, a) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(56799781, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true
    });
</script>
<noscript>
  <div><img src="https://mc.yandex.ru/watch/56799781" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript> -->
<!-- /Yandex.Metrika counter -->

<!-- @@include('./templates/_cdn.html') -->

<!-- JS plugins -->

<script src="assets/libs/jquery/jquery.min.js"></script>
<script src="assets/libs/slick-carousel/slick.js"></script>
<script src="assets/libs/slick-lightbox/slick-lightbox.js"></script>
<script src="assets/libs/zurb-twentytwenty/jquery.twentytwenty.js"></script>
<script src="assets/libs/zurb-twentytwenty/jquery.event.move.js"></script>
<script src="assets/libs/magnific-popup/jquery.magnific-popup.js"></script>
<script src="assets/libs/dropzone/dropzone.js"></script>
<script src="assets/libs/validate/validate.js"></script>

<!-- JS main -->

<script src="assets/js/main.js"></script>

</body>

</html>