<header class="header" id="inline-popups-header">
    <a href="index.html" class="logo-link">
        <svg class="logo">
      <use xlink:href="assets/img/sprite.svg#logo"></use>
    </svg>
    </a>
    <nav class="navigation">
        <!-- Десктоп навигация -->
        <ul class="navigation__list">
            <li class="navigation__list-item">О компании
                <svg class="navigation__angle-down">
          <use xlink:href="/assets/img/sprite.svg#angle-down"></use>
        </svg>
                <ul class="navigation__dropdown-list">
                    <li class="navigation__dropdown-item"><a href="b2b.html" class="navigation__dropdown-url">Для организаций</a></li>
                    <li class="navigation__dropdown-item"><a href="index.html#factory" class="navigation__dropdown-url">Производство</a></li>
                    <li class="navigation__dropdown-item"><a href="faq.html" class="navigation__dropdown-url">Вопрос-ответ</a></li>
                    <li class="navigation__dropdown-item" style="display: none;"><a href="#" class="navigation__dropdown-url">Вакансии</a></li>
                    <li class="navigation__dropdown-item"><a href="index.html#contacts" class="navigation__dropdown-url">Контакты</a></li>
                </ul>
            </li>
            <li class="navigation__list-item">Услуги
                <svg class="navigation__angle-down">
          <use xlink:href="assets/img/sprite.svg#angle-down"></use>
        </svg>
                <ul class="navigation__dropdown-list">
                    <li class="navigation__dropdown-item"><a href="repair.html" class="navigation__dropdown-url">Кузовной ремонт</a></li>
                    <li class="navigation__dropdown-item"><a href="painting.html" class="navigation__dropdown-url">Покраска грузовиков</a>
                    </li>
                    <li class="navigation__dropdown-item"><a href="painting.html" class="navigation__dropdown-url">Покраска спецтехники</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__list-item"><a href="price-list.html" class="navigation__list-item-url">Прайс-лист</a></li>
        </ul>
        <!-- Мобильная навигация -->
        <ul class="navigation-mobile__list" id="mobile-nav">
            <!--   Кнопка свзаться в мобильном складывающемся меню   -->
            <li>
                <a class="header__call-button-mobile popup-with-form" href="#iframe-form" data-effect="mfp-zoom-in">
                    <span class="call-to-action-text">Связаться</span>
                </a>
            </li>
            <!--      -->
            <li class="navigation-mobile__header">
                <address class="mobile-phone-number">
          <svg class="mobile-phone-number__svg">
            <use xlink:href="assets/img/sprite.svg#phone"></use>
          </svg>
          <a href="tel:+78125076537" class="phone-number__link">
            <span class="mobile-phone-number__link-text">(812) 507-65-37</span>
          </a>
        </address>
            </li>
            <li class="navigation-mobile__list-item">О компании
                <ul class="navigation-mobile__dropdown-list">
                    <li class="navigation-mobile__dropdown-item"><a href="b2b.html" class="navigation-mobile__dropdown-url">Для
            организаций</a></li>
                    <li class="navigation-mobile__dropdown-item"><a href="index.html#factory" class="navigation-mobile__dropdown-url">Производство</a></li>
                    <li class="navigation-mobile__dropdown-item"><a href="faq.html" class="navigation-mobile__dropdown-url">Вопрос-ответ</a></li>
                    <li class="navigation-mobile__dropdown-item" style="display: none!important;"><a href="#" class="navigation-mobile__dropdown-url">Вакансии</a>
                    </li>
                    <li class="navigation-mobile__dropdown-item"><a href="index.html#contacts" class="navigation-mobile__dropdown-url">Контакты</a>
                    </li>
                </ul>
            </li>
            <li class="navigation-mobile__list-item">Услуги
                <ul class="navigation-mobile__dropdown-list">
                    <li class="navigation-mobile__dropdown-item"><a href="repair.html" class="navigation-mobile__dropdown-url">Кузовной
            ремонт</a></li>
                    <li class="navigation-mobile__dropdown-item"><a href="painting.html" class="navigation-mobile__dropdown-url">Покраска
            грузовиков</a></li>
                    <li class="navigation-mobile__dropdown-item"><a href="painting.html" class="navigation-mobile__dropdown-url">Покраска
            спецтехники</a></li>
                </ul>
            </li>
            <li class="navigation-mobile__list-item"><a href="price-list.html" class="navigation-mobile__list__item-url">Прайс-лист</a></li>
        </ul>
        <!-- Кнопка гамбургер -->
        <div class="menu-icon" id="menu-toggle">
            <div class="menu-icon-line"></div>
        </div>
    </nav>
    <!--  -->
    <address class="phone-number">
    <a href="tel:+78125076537" class="phone-number__link">
      <svg class="phone-number__svg">
        <use xlink:href="assets/img/sprite.svg#phone"></use>
      </svg>
      <span class="phone-number__link-text">(812) 507-65-37</span>
    </a>
  </address>
    <a class="header__call-button popup-with-form" href=#call-to-action-form " data-effect="mfp-zoom-in ">
    <span class="call-to-action-text ">Связаться</span>
  </a>
</header>