<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Ремонт грузовиков МАЗ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="description" content="Ремонт грузовиков МАЗ ремонт ходовой части ремонт кабины кузова">
  <link href="assets/css/style.css" rel="stylesheet">
  @@include('./templates/_favicon.html')
</head>

<body>
