<!-- CALL-TO-ACTION-FORM -->
<form id="call-to-action-form" class=" white-popup-block mfp-with-anim form-modal-window" style="top: 0" action="assets/php/send.php" method="POST">
    <h2 class="form-modal-window__header">Связаться с нами</h2>
    <div class="form-content__subtext">Заполните поля и мы перезвоним в течении 15 минут</div>
    <div class="form-modal-window__form-content">
        <fieldset style="border: 0;" class="form-content__form">
            <ul class="form-modal-window__form-items">
                <li class="required">
                    <label for="phone-cta" class="phone-label">Номер телефона</label>
                    <input id="phone-cta" name="phone" type="tel" value="" placeholder="+7 (...) " required class="form-modal-window__input-item phone-input">
                    <div class="validation-result"></div>
                </li>
                <li class="required">
                    <label for="name-cta" class="name-label">Ваше имя</label>
                    <input id="name-cta" name="name" minlength="2" type="text" placeholder="Как к вам обращаться?" required class="form-modal-window__input-item name-input">
                    <div class="validation-result"></div>
                </li>
                <li>
                    <label for="textarea-cta" class="message-label">Сообщение</label>
                    <textarea id="textarea-cta" name="message" minlength="5" class="form-modal-window__input-item textarea-item" placeholder="Введите ваше сообщение (заполнять не обязательно)"></textarea>
                </li>
            </ul>
        </fieldset>
        <div class="form_content__bottom-block">
            <div class="bottom-block__conf">Отправляя данные вы соглашаетесь с <a download href="/policy.pdf" class="mw-conf-link">политикой конфиденциальности</a></div>
            <input name="submit" class="btn-submit" id="form-modal-window__send-button-cta" type="submit" value="" />
            <label for="form-modal-window__send-button-cta" class="form-modal-window__send-button">Отправить</label>
        </div>
    </div>
</form>
<!-- ESTIMATE-PRICE-FORM -->
<form id="estimate-price-form" class="mfp-hide white-popup-block mfp-with-anim form-modal-window">
    <h2 class="form-modal-window__header">Оценка повреждений по фото</h2>
    <div class="form-content__subtext">Заполните поля, загрузите фотографии и отправьте заявку. Мы перезвоним в течении 15 минут и обсудим стоимость и план работ</div>
    <div class="form-modal-window__form-content">
        <fieldset style="border: 0;" class="form-content__form">
            <ul class="form-modal-window__form-items">
                <li>
                    <label for="phone-epf" class="phone-label">Номер телефона</label>
                    <input id="phone-epf" name="phone" type="tel" value="+7 " placeholder="+7 (...) " required class="form-modal-window__input-item phone-input">
                </li>
                <li>
                    <label for="name-epf" class="name-label">Ваше имя</label>
                    <input id="name-epf" name="name" type="text" placeholder="Как к вам обращаться?" required class="form-modal-window__input-item name-input">
                </li>
                <li class="dropzone" id="formUpload" data-action="#">
                </li>
            </ul>
        </fieldset>
        <div class="form_content__bottom-block">
            <div class="bottom-block__conf">Отправляя данные вы соглашаетесь с <a download href="/policy.pdf" class="mw-conf-link">политикой конфиденциальности</a></div>
            <input name="submit" class="" id="form-modal-window__send-button-epf" type="submit" value="" />
            <label for="form-modal-window__send-button-epf" class="form-modal-window__send-button">Отправить</label>
        </div>
    </div>
</form>
<!-- FAQ -->
<form id="faq-form" class="mfp-hide white-popup-block mfp-with-anim form-modal-window">
    <h2 class="form-modal-window__header">Задайте ваш вопрос</h2>
    <div class="form-content__subtext">Задайте ваш вопрос и заполните номер телефона или e-mail для ответа</div>
    <div class="form-modal-window__form-content">
        <fieldset style="border: 0;" class="form-content__form">
            <ul class="form-modal-window__form-items">
                <li>
                    <label for="phone-faq" class="phone-label">Номер телефона</label>
                    <input id="phone-faq" name="phone" type="tel" value="+7 " placeholder="+7 (...) " required class="form-modal-window__input-item phone-input">
                </li>
                <li>
                    <label for="name-faq" class="name-label">Ваше имя</label>
                    <input id="name-faq" name="name" type="text" placeholder="Как к вам обращаться?" required=c lass="form-modal-window__input-item name-input">
                </li>
                <li>
                    <label for="textarea-faq" class="message-label">Сообщение</label>
                    <textarea id="textarea-faq" class="form-modal-window__input-item textarea-item" placeholder="Введите ваше сообщение (заполнять не обязательно)"></textarea>
                </li>
            </ul>
        </fieldset>
        <div class="form_content__bottom-block">
            <div class="bottom-block__conf">Отправляя данные вы соглашаетесь с <a download href="/policy.pdf" class="mw-conf-link">политикой конфиденциальности</a></div>
            <input name="submit" class="" id="form-modal-window__send-button-faq" type="submit" value="" />
            <label for="form-modal-window__send-button-faq" class="form-modal-window__send-button">Отправить</label>
        </div>
    </div>
</form>
<!-- IFRAME -->
<form id="iframe-form" class="mfp-hide white-popup-block mfp-with-anim iframe-form">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSejw7mrAJPcy5kAlCfuXXnajEfDPNWADU5AJoSCg6dYHM36NQ/viewform?embedded=true" width="430" height="800px" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
</form>