@@include('./templates/_head.html')
<header
  class="box-shadow-4--outside container py-4 full-width-outside primary-bg display-flex flex-align-items-center flex-justify-content-space-between--md">
</header>
<div class="container">
  <h1>h1. Super heading</h1>
  <h2>h2. Super heading</h2>
  <h3>h3. Super heading</h3>
  <h4>h4. Super heading</h4>
  <h5>h5. Super heading</h5>
  <h6>h6. Super heading</h6>
  <hr>
  <p>Lorem ipsum dolor sit <abbr title="test title">amet</abbr>, consectetur adipisicing elit. Aliquid animi cupiditate
    dolor excepturi exercitationem
    harum incidunt laborum neque <em>nesciunt</em>, nostrum <i>odit</i> quaerat quam quas, repudiandae rerum sint
    tempora totam
    voluptatum.</p>
  <ul>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
  </ul>
  <p>Lorem ipsum dolor sit amet,
    <mark>consectetur</mark>
    adipisicing elit. Et ipsum, iure placeat suscipit tenetur voluptatem!
    Asperiores blanditiis <b>consectetur</b> nulla <strong>possimus</strong>. Aliquam aperiam beatae consequatur dolore
    facilis labore nemo
    nesciunt odio.
  </p>
  <ol>
    <li>item1</li>
    <li>item2</li>
    <li>item3</li>
    <li>item4</li>
  </ol>
  <p>You can use the mark tag to
    <mark>highlight</mark>
    text.
  </p>
  <p>
    <del>This line of text is meant to be treated as deleted text.</del>
  </p>
  <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p>
    <ins>This line of text is meant to be treated as an addition to the document.</ins>
  </p>
  <p><u>This line of text will render as underlined</u></p>
  <p>
    <small>This line of text is meant to be treated as fine print.</small>
  </p>
  <p><strong>This line rendered as bold text.</strong></p>
  <p><em>This line rendered as italicized text.</em></p>
  <dl>
    <dt>HTML</dt>
    <dd>- Hypertext Markup Language</dd>
  </dl>
  <address>
    <strong>Twitter, Inc.</strong><br>
    1355 Market St, Suite 900<br>
    San Francisco, CA 94103<br>
    <abbr title="Phone">P:</abbr> (123) 456-7890
  </address>
  <blockquote>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate delectus distinctio doloribus dolorum
      ducimus impedit iusto magni nesciunt nostrum obcaecati odio omnis reiciendis repellendus repudiandae similique,
      sunt voluptate voluptatibus.</p>
    <cite>Test Author</cite>
  </blockquote>
  <table>
    <caption>Table example</caption>
    <tr>
      <th>header</th>
      <th>header</th>
      <th>header</th>
      <th>header</th>
      <th>header</th>
    </tr>
    <tr>
      <td>item1</td>
      <td>item2</td>
      <td>item3</td>
      <td>item4</td>
      <td>item5</td>
    </tr>
    <tr>
      <td>item1</td>
      <td>item2</td>
      <td>item3</td>
      <td>item4</td>
      <td>item5</td>
    </tr>
    <tr>
      <td>item1</td>
      <td>item2</td>
      <td>item3</td>
      <td>item4</td>
      <td>item5</td>
    </tr>
    <tr>
      <td>item1</td>
      <td>item2</td>
      <td>item3</td>
      <td>item4</td>
      <td>item5</td>
    </tr>
    <tr>
      <td>item1</td>
      <td>item2</td>
      <td>item3</td>
      <td>item4</td>
      <td>item5</td>
    </tr>
  </table>
  <hr>
  <h2>FAQ</h2>
  <details>
    <summary>Very interesting question</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque dicta, explicabo id, iste iusto libero
      minima nesciunt nobis officiis omnis provident suscipit unde? Commodi delectus eligendi perferendis unde
      voluptatibus?</p>
  </details>
  <details>
    <summary>Very interesting question</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam atque dicta, explicabo id, iste iusto libero
      minima nesciunt nobis officiis omnis provident suscipit unde? Commodi delectus eligendi perferendis unde
      voluptatibus?</p>
  </details>
  <hr>
  <h2>Form controls</h2>
  <form action="">
    <fieldset>
      <legend>Input types</legend>
      <label>
        Text
        <input type="text">
      </label>
      <label>
        Search
        <input type="search">
      </label>
      <label>
        Email
        <input type="email">
      </label>
      <label>
        Tel
        <input type="tel">
      </label>
      <label>
        Password
        <input type="password">
      </label>
      <label>
        URL
        <input type="url">
      </label>
      <hr>
      <label>
        Color
        <input type="color">
      </label>
      <label>
        Date
        <input type="date">
      </label>
      <label>
        Time
        <input type="time">
      </label>
      <label>
        Datetime-local
        <input type="datetime-local">
      </label>
      <label>
        Month
        <input type="month">
      </label>
      <label>
        Week
        <input type="week">
      </label>
      <hr>
      <label>
        File
        <input type="file">
      </label>
      <label>
        Number
        <input type="number">
      </label>
      <label>
        Range
        <input type="range">
      </label>
      <label>
        Checkbox
        <input type="checkbox">
      </label>
      <label>
        Radio
        <input type="radio">
      </label>
      <label>
        Image
        <input type="image" src="https://via.placeholder.com/50" name="image" alt="image-button">
      </label>
    </fieldset>
    <fieldset>
      <legend>Other controls</legend>
      <label>
        Textarea
        <textarea></textarea>
      </label>
      <label>
        Select
        <select>
          <option value="1">option 1</option>
          <option value="2">option 2</option>
          <option value="3">option 3</option>
        </select>
      </label>
    </fieldset>
  </form>
  <hr>
  <h2>Images</h2>
  <div>
    <img src="https://via.placeholder.com/350x250" alt="" style="float:left;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam atque eos ipsa laudantium quas qui
      sunt
      tenetur veniam. Debitis dolorem itaque laboriosam magnam officiis porro quo tempore totam?</p>
  </div>
  <div>
    <img src="https://via.placeholder.com/350x250" alt="" style="float:right">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aperiam atque eos ipsa laudantium quas qui
      sunt
      tenetur veniam. Debitis dolorem itaque laboriosam magnam officiis porro quo tempore totam?</p>
  </div>
</div>
<footer class="secondary-bg pa-7"></footer>
@@include('./templates/_foot.html')
