<!--HEAD-->
@@include('./templates/_head.html')
<!-- HEADER -->
@@include('./templates/_header.html')
<!-- MODAL-WINDOWS -->
@@include('./templates/_modal-windows.html')
<!-- MAIN -->
<section class="main-screen">
    <h1 class="main-header">Грузовой малярно-кузовной сервис <br> в Санкт-Петербурге
    </h1>
    <a href="repair.html" class="repair-service">
        <img src="assets/img/img_repair.png" alt="Кузовной ремонт" class="main-image">
        <h2 class="repair-service__header">Пескоструйная очистка</h2>
        <ul class="repair-service__list">
            <li class="repair-service__list-item">— Удаление коррозии</li>
            <li class="repair-service__list-item">— Очистка от окалины</li>
            <li class="repair-service__list-item">— Удаление старого покрытия</li>
            <li class="repair-service__list-item">— Подготовка к окраске</li>
        </ul>
    </a>
    <a href="painting.html" class="painting-service">
        <img src="assets/img/img_color.png" alt="Малярные работы" class="main-image">
        <h2 class="painting-service__header">Малярно-кузовные работы</h2>
        <ul class="painting-service__list">
            <li class="painting-service__list-item">— Покраска кабин, рам, прицепов, спецтехники, катеров, яхт и любых крупногабаритных изделий</li>
            <li class="painting-service__list-item">— Сварочные и рихтовачные работы</li>
            <li class="painting-service__list-item">— Реставрация автомобилей</li>
        </ul>
    </a>
</section>
<!-- ESTIMATE-PRICE-BANNER -->
<section class="estimate-price">
    <div class="estimate-price__banner" id="inline-popups-epf">
        <h2 class="estimate-price__header">Оценим стоимость работ <br> по фото и дадим скидку</h2>
        <a class="estimate-price__upload-button upload-button popup-with-form" href="#estimate-price-form" data-effect="mfp-zoom-in">
            <svg class="estimate-price__paperclip">
        <use xlink:href="assets/img/sprite.svg#paperclip"></use>
      </svg> Загрузить фотографии
        </a>
    </div>
</section>
<!-- ADVANTAGES -->
<section class="advantages">
    <h2 class="advantages__header">Гарантия сроков - компенсация за каждый день просрочки</h2>
    <div class="advantages__wrapper">
        <div class="advantage-block parkovka">
            <svg class="advantage__svg">
        <use xlink:href="assets/img/sprite.svg#parking"></use>
      </svg>
            <div class="advantage-block__header">Более 500 м2<br> охранаемая парковка
            </div>
        </div>
        <div class="advantage-block opyt">
            <svg class="advantage__svg">
        <use xlink:href="assets/img/sprite.svg#opyt-12-let"></use>
      </svg>
            <div class="advantage-block__header 2adv">Опыт работы<br> 12 лет
            </div>
        </div>
        <div class="advantage-block kamera">
            <svg class="advantage__svg">
        <use xlink:href="assets/img/sprite.svg#spray-color"></use>
      </svg>
            <div class="advantage-block__header 3adv">20×6×6 <span class="advantage-block__header-letter-span">м</span><br>Итальянская<br> покрасочная камера
            </div>
        </div>
        <div class="advantage-block garanty">
            <svg class="advantage__svg">
        <use xlink:href="assets/img/sprite.svg#feedback"></use>
      </svg>
            <div class="advantage-block__header 4adv">Гарантия на работы<br> до ДВУХ лет
            </div>
        </div>
    </div>
</section>
<!-- SERVICES -->
<section class="services">
    <h2 class="services__header">Наши услуги</h2>
    <section class="service-block">
        <div class="service-block__image">
            <img src="assets/img/service-blast.jpg" alt="покраска" class="service-block__img">
        </div>
        <h3 class="service-block__header">Пескоструйная обработка</h3>
        <ul class="service-block__tags">
            <li class="tag-item">спецтехника</li>
            <li class="tag-item">сельхозтехника</li>
            <li class="tag-item">металлоконструкции</li>
            <li class="tag-item">кран</li>
            <li class="tag-item">рама</li>
            <li class="tag-item">бочка</li>
            <li class="tag-item">мусоровоз</li>
            <li class="tag-item">прицеп</li>
            <li class="tag-item">самосвал</li>
            <li class="tag-item">детали</li>
        </ul>
        <p class="service-block__text">Подготовка - самый важнй этап перед покраской. Самый лучший способ подготовки металлических изделий это пескоструйная или дробеструйная обработка. От её качества зависит внешний вид и устойчивость лако-красочного покрытия к агессивной среде. Пескоструйная
            обработка очищает металл от коррозии, окалины, старого покрытия и придает поверхности шероховатость для максимальной адгезии лако-красочного материала. Дробеструйная обработка позволяет придать поверхности однородную шероховатость, разгрузить
            напряжение в сварочных швах, что позволяет избежать усталостных трещин. Работы выполняются по стандарту ISO Sa-3 и ГОСТ 9.402-80 1 степени (Струйная очистка до визуально чистой стали). Мы работаем с грузовой, железнодорожной, сельскохозяйственной,
            спец техникой, яхтами, катерами.</p>
    </section>
    <section class="service-block">
        <div class="service-block__image">
            <img src="assets/img/service-paint.jpg" alt="ремонт кузова" class="service-block__img">
        </div>
        <h3 class="service-block__header">Покраска спецтехники, металлоконструкций</h3>
        <ul class="service-block__tags">
            <li class="tag-item">Маз</li>
            <li class="tag-item">Камаз</li>
            <li class="tag-item">Volvo</li>
            <li class="tag-item">Iveco</li>
            <li class="tag-item">Урал</li>
            <li class="tag-item">Mercedec-benz</li>
            <li class="tag-item">Renault</li>
            <li class="tag-item">Daf</li>
            <li class="tag-item">Scania</li>
            <li class="tag-item">Man</li>
            <li class="tag-item">Hyndai</li>
            <li class="tag-item">Mack</li>
            <li class="tag-item">Газ</li>
            <li class="tag-item">Jac</li>
            <li class="tag-item">DongFeng</li>
        </ul>
        <p class="service-block__text">Качественно произвести окрасочные работы возможно только в полноценной покрасочной камере с использованием проф. оборудования и материалов. Наша камера оборудована итальянской системой приточно-вытяжной вентиляции с подогревом, которая позволяет
            достигать температуры 65° для максимально быстрого отверждения краски.Мы работаем на оборудовании немецкого и английского производства (SATA, Devilbiss, WAGNER). Собственный склад ЛКМ и лаборатория цветоподбора позволяет подобрать материалы
            под любые задачи и бюджет.
        </p>
    </section>
    <section class="service-block">
        <div class="service-block__image">
            <img src="assets/img/service-repair.jpg" alt="покраска металлоконструкций" class="service-block__img">
        </div>
        <h3 class="service-block__header">Кузовной ремонт грузовой техники</h3>
        <ul class="service-block__tags">
            <li class="tag-item">Маз</li>
            <li class="tag-item">Камаз</li>
            <li class="tag-item">Volvo</li>
            <li class="tag-item">Iveco</li>
            <li class="tag-item">Урал</li>
            <li class="tag-item">Mercedec-benz</li>
            <li class="tag-item">Renault</li>
            <li class="tag-item">Daf</li>
            <li class="tag-item">Scania</li>
            <li class="tag-item">Man</li>
            <li class="tag-item">Hyndai</li>
            <li class="tag-item">Mack</li>
            <li class="tag-item">Газ</li>
            <li class="tag-item">Jac</li>
            <li class="tag-item">DongFeng</li>
        </ul>
        <p class="service-block__text">Широкий спектр кузовных работ: ремонт грузовиков/грузовых авто, подбор частей, замена и восстановление элементов, кабин, панелей, диагностика геометрии ремонт пластика, стеклопластика, сварочные, рихтовачные работы. Восстановление геометрии кузовных
            элементов, грунтование; Ремонт и восстановление рамы, надстройки грузовика; Устранение последствий коррозии кузовных элементов; Реставрация кузовов автомобилей в т.ч. редких и раритетных.</p>
    </section>
</section>
<!--  SPECIAL OFFER -->
<section class="special-offer">
    <div class="special-offer__banner">
        <h2 class="special-offer__header">Специальное предложение <br> для организаций</h2>
        <button class="special-offer__button">Подробнее</button>
    </div>
</section>
<!--  PORTFOLIO -->
<section class="portfolio">
    <h2 class="portfolio__header">Выполненые работы</h2>
    <div class="portfolio__slider-wrapper">
        <div class="portfolio__slider">
            <img src="assets/img/curtain-before.jpg" alt="До работ" class="portfolio__img">
            <img src="assets/img/curtain-after.jpg" alt="После работ" class="portfolio__img">
        </div>
    </div>
</section>
<!--  GALLERY -->
<section class="gallery-screen" id="factory">
    <h2 class="gallery__header">Производство</h2>
    <div class="gallery__content">
        <div class="gallery js-gallery">
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-1.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-2.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-3.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-4.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-5.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-6.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-7.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-8.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-9.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-10.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-11.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-12.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-13.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-14.jpeg" alt="" class="gallery-img">
                </div>
            </div>
            <div class="gallery-item">
                <div class="gallery-img-holder js-gallery-popup">
                    <img src="assets/img/factory-img-15.jpeg" alt="" class="gallery-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT -->
<section class="about" id="about">
    <h2 class="about__header">О компании</h2>
    <div class="about-block__image">
        <img src="assets/img/about-image.png" alt="О компании" class="about-block__img">
    </div>
    <div class="about-text">
        <p class="about-text-paragraph">Компания Питер Тракс занимается пескоструйной подготовкой, покраской и ремонтом техники, конструкций без ограничений по массе. Работы производятся в хорошо оборудованных цехах с разделением на этапы. Цеха расположены в одном здании, это исключает
            необходимость транспортировки и снижает стоимость. Работы проводятся в кратчайшие сроки, без простоя вашей техники.</p>
        <p class="about-text-paragraph">Мы соблюдаем стандарты ГОСТ 9.402-80 ст.1 и ISO Sa-3.</p>
        <p class="about-text-paragraph">Приглашаем к сотрудничеству транспортные, логистические, производственные компании.</p>
        </p>
    </div>
    <ul class="about-list">
        <li class="about-list-item faq-icon">
            <svg class="about__svg">
        <use xlink:href="assets/img/sprite.svg#faq"></use>
      </svg>
            <a href="faq.html" class="about-link-item">Вопрос-ответ</a></li>
        <li class="about-list-item blog-icon" disabled>
            <svg class="about__svg">
        <use xlink:href="assets/img/sprite.svg#blog"></use>
      </svg>
            <a href="index.html#about" class="about-link-item" disabled>Блог</a></li>
        <li class="about-list-item account-icon">
            <svg class="about__svg">
        <use xlink:href="assets/img/sprite.svg#card"></use>
      </svg>
            <a href="b2b.html" class="about-link-item">Реквизиты</a></li>
    </ul>
</section>
<!-- MAP -->
<div class="map" id="contacts">
    <address class="map__address">
    <div class="address__name">ООО «Питер Трак Сервис»</div>
    <div class="address__work-time">
      <span class="work-time__tittle">Время работы:</span>
      <span><span class="work-time__style">Пн-пт:</span> 9:00 - 20:00</span>
      <span><span class="work-time__style">Сб-вс:</span> 9:00 - 20:00</span>
    </div>
    <ul class="address__phone-row">
      <li><a href="tel:+78125076537" class="address__phone-style">(812) 507-65-37</a></li>
      <li><a href="https://wa.me/79650517804">
          <svg class="map__social whatsapp">
            <use xlink:href="assets/img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
      </li>
      <li><a href="tg://resolve?domain=@gothisway">
          <svg class="map__social telegramm">
            <use xlink:href="assets/img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a href="mailto:info@piter-trucks.ru" class="address__e-mail"><span class="address__e-mail-style">info@piter-trucks.ru</span></a>
    <span class="address__location">Ленинградская область, Тосненский район, <br> городской посёлок Фёдоровское, <br> ул. Шоссейная, д. 2, лит. Г, пом. 14</span>
  </address>
    <script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A75f41740f5c7569593aa2f5fb74a24cfe29b50998db7928974a84982df297b69&amp;width=100%25&amp;height=476&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
<!-- FOOTER -->
@@include('./templates/_footer.html')
<!--FOOT-->
@@include('./templates/_foot.html')