<!--HEAD-->
@@include('./templates/_head.html')
<!-- HEADER -->
@@include('./templates/_header.html')
<!-- MODAL-WINDOWS -->
@@include('./templates/_modal-windows.html')
<!--  -->
<main class="sandbox">
    <div class="testdiv">
        <input type="text" class="input" value="+7(968) 186-34-34">
        <button class="button-test">Преобразовать</button>
        <div class="result"></div>
    </div>
</main>

<script>
    var input = document.querySelector('.input')
    var button = document.querySelector('.button-test')
    var result = document.querySelector('.result')

    document.querySelector('.button-test').onclick = function() {
        result.textContent = input.value.replace(/\s+/g, '').replace(/-/g, '').replace(/\(/g, '').replace(/\)/g, '')
    };

    var phoneTrimming = function(str) {
        return str.replace(/\s+/g, '').replace(/-/g, '').replace(/\(/g, '').replace(/\)/g, '')
    }

    var testValue = '+7(968) 186-34-34'
    var x = parseInt(phoneTrimming(testValue))
    console.log(x)
    console.log(typeof x)
</script>

<!--  -->
<!-- FOOTER -->
@@include('./templates/_footer.html')
<!--FOOT-->
@@include('./templates/_foot.html')